embeds_cache/embeds_cache_cnn4_2d_128.pt filter=lfs diff=lfs merge=lfs -text
embeds_cache/embeds_cache_res12_ptcv_2d.pt filter=lfs diff=lfs merge=lfs -text
embeds_cache/embeds_cache_cnn4_2d.pt filter=lfs diff=lfs merge=lfs -text
embeds_cache/embeds_cache_cnn4_2d_miniimagenet_val.pt filter=lfs diff=lfs merge=lfs -text
embeds_cache/embeds_cache_cnn4_2d_miniimagenet_test.pt filter=lfs diff=lfs merge=lfs -text
embeds_cache/embeds_cache_cnn4_cub.pt filter=lfs diff=lfs merge=lfs -text
embeds_cache/embeds_cache_feat1.pt filter=lfs diff=lfs merge=lfs -text
embeds_cache/embeds_cache_r12_imagenet_all.pt filter=lfs diff=lfs merge=lfs -text
embeds_cache/embeds_cache_r50_mocoimagenet.pt filter=lfs diff=lfs merge=lfs -text
embeds_cache/embeds_cache_r50_mocoimagenet_all.pt filter=lfs diff=lfs merge=lfs -text
embeds_cache/embeds_cache.pt filter=lfs diff=lfs merge=lfs -text
embeds_cache/embeds_cache_cnn4_2d_196.pt filter=lfs diff=lfs merge=lfs -text
embeds_cache/embeds_cache_cnn4_2d_cub.pt filter=lfs diff=lfs merge=lfs -text
embeds_cache/embeds_cache_cnn4_cub_2d.pt filter=lfs diff=lfs merge=lfs -text
embeds_cache/embeds_cache_crop2.pt filter=lfs diff=lfs merge=lfs -text
embeds_cache/embeds_cache_r12.pt filter=lfs diff=lfs merge=lfs -text
embeds_cache/embeds_cache_r12_imagenet.pt filter=lfs diff=lfs merge=lfs -text
embeds_cache/embeds_cache_res12_2d_miniimagenet_train.pt filter=lfs diff=lfs merge=lfs -text
embeds_cache/*.pt filter=lfs diff=lfs merge=lfs -text
